---
// This component now uses the WalletConnect React island
import WalletConnect from './WalletConnect.tsx';
---

<div class="connect-button-wrapper">
  <WalletConnect client:only="react" />
</div>

<style>
  .connect-button-wrapper {
    display: inline-flex;
    align-items: center;
  }
</style>